/*style.css*/
#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.cell-label {
  font-size: 0.75rem;
  text-align: center;
  background: transparent;
  border: none;
  pointer-events: none;
}
